<!-- wp:template-part {"slug":"header","theme":"express-analytics","tagName":"header"} /-->
<!-- wp:group {"className":"breadcrumb-section","layout":{"type":"constrained"}} -->
<div class="wp-block-group breadcrumb-section"><!-- wp:group {"className":"breadcrumb-box","layout":{"type":"constrained"}} -->
<div class="wp-block-group breadcrumb-box"><!-- wp:group {"className":"breadcrumb-heading","layout":{"type":"constrained"}} -->
<div class="wp-block-group breadcrumb-heading"><!-- wp:post-title {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|express-analytics-bg"}}}},"textColor":"express-analytics-bg"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group content-wrapper">
  <!-- wp:post-content {"layout":{"inherit":true}} /-->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
